<% if params[:search] and params[:search][:giveaway_round_id] %>
<%= content_tag :div, content_tag(:div, nil, :id => "status"), :id => "status-container" %>

<% javascript_tag do %>
  function clear_sr() {
    $('status').update();
    $('status').show();
  }
<% end %>

<%= sortable_element(
  "giveaways_index_tbody", 
  :update => 'status',  
  :tag => 'tr',
  :format => "/^giveaway_([0-9]+)$/",
  :complete => [
    visual_effect(:highlight, "giveaways_index_tbody"), 
    visual_effect(:fade, "status", {:delay => 1.0, :afterFinish => "clear_sr"})
  ], 
  :url => {:action => 'order'}
) %>
<% else %>
  <div class="admin_assistant index" id="unfilled_prize_categories">
  <% unfilled_prize_categories = PrizeCategory.unfilled.sort_by &:name %>
  <% if unfilled_prize_categories.empty? %>
    <h3>All prize categories have been fully allocated.</h3>
  <% else %>
    <h3>Prize categories that need more giveaways</h3>
    <table cellspacing="0" cellpadding="0">
      <thead>
        <tr><th>Name</th><th>Unallocated count</th><th></th></tr>
      </thead>
      <tbody>
    <% unfilled_prize_categories.each do |prize_category| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= h(prize_category.name) %></td>
        <td><%= prize_category.unfilled_count %></td>
        <td><%= link_to(
          'Add giveaway',
          :action => 'new',
          :giveaway => {:prize_category_id => prize_category.id}
        ) %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
  <% end %>
  </div>
<% end %>
