<html>
  <head>
    <%= javascript_include_tag('vendor/jquery-1.9.1.min') %>
    <%= javascript_include_tag('vendor/jquery-ui-1.9.2.all.min') %>
    <%= if self.respond_to?(:admin_assistant_includes) 
      admin_assistant_includes
    end %>
    <%= stylesheet_link_tag 'admin' %>
    <%= stylesheet_link_tag('vendor/ui-lightness/jquery-ui-1.9.2.all.min') %>
  </head>
  <body>
  <h1>raflcon!</h1>
    <div id="nav">
      <% if conference = Conference.first %>
        <%= link_to_unless_current(
          'Dashboard', :controller => 'admin/workflow_steps'
        ) %>
        <br />
        
        <%= link_to_unless_current(
          'Prize categories', :controller => 'admin/prize_categories'
        ) %>
        <br />
        
        <%= link_to_unless_current(
          'Giveaway rounds', :controller => 'admin/giveaway_rounds'
        ) %>
        <br />
        
        <%= link_to_unless_current(
          'Giveaways', :controller => 'admin/giveaways'
        ) %>
        <% if ApplicationSetting[:time_zone] %>
          <%
          giveaway_rounds_with_giveaways = GiveawayRound.all.reject { |gr|
            gr.giveaways.empty?
          }.sort_by &:time
          %>
          <% unless giveaway_rounds_with_giveaways.empty? %>
            <ul>
              <% giveaway_rounds_with_giveaways.each do |gr| %>
              <li><%= link_to_unless_current(
                gr.pretty_time,
                :controller => 'admin/giveaways', :action => 'index',
                :search => {:giveaway_round_id => gr.id}
              ) %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
        <br />
        
        <%= link_to_unless_current(
          'Attendees', :controller => 'admin/attendees'
        ) %>
        <br />

        <%= link_to_unless_current(
          'Reset', :controller => 'admin/reset/new'
        ) %>
        <br />

        <%= link_to_unless_current(
          'Configuration',
          :controller => 'admin/configuration', :action => 'edit'
        ) %>
      <% end %>
    </div>
    <div id="content">
    <% unless controller_name == 'workflow_steps' %>
      <p id="back_to_dashboard">
      <%= link_to(
        raw('&laquo; Back to dashboard'), :controller => 'admin/workflow_steps'
      ) %>
      </p>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>

