<html>
  <head>
    <%= javascript_include_tag(
      "prototype", "effects", "controls", 'dragdrop'
    ) %>
    <%= if self.respond_to?(:admin_assistant_includes) 
      admin_assistant_includes
    end %>
    <%= stylesheet_link_tag 'admin' %>
  </head>
  <body>
  <h1>raflcon!</h1>
    <div id="nav">
      <% if conference = Conference.first %>
        <%= link_to_unless_current(
          'Dashboard', :controller => 'admin/workflow_steps'
        ) %>
        <br />
        <%
        admin_controllers_dir = "#{RAILS_ROOT}/app/controllers/admin/"
        controller_names = Dir.entries(admin_controllers_dir).select { |entry|
          entry =~ /_controller.rb$/ && entry !~ /dashboard/ &&
          entry !~ /configuration/ && entry !~ /time_zones/
        }.map { |entry|
          entry =~ /(.*)_controller.rb$/
          $1
        }.sort
        %>
        <% controller_names.each_with_index do |c_name, i| %>
          <%= link_to_unless_current(
            c_name.gsub(/_/, ' ').capitalize, :controller => "admin/#{c_name}"
          ) %>
        <br />
          <% if c_name == 'giveaways' && ApplicationSetting.value('time_zone') %>
            <%
            giveaway_rounds_with_giveaways = GiveawayRound.all.reject { |gr|
              gr.giveaways.empty?
            }.sort_by &:time
            %>
            <% unless giveaway_rounds_with_giveaways.empty? %>
              <ul>
                <% giveaway_rounds_with_giveaways.each do |gr| %>
                <li><%= link_to_unless_current(
                  gr.pretty_time,
                  :controller => 'admin/giveaways', :action => 'index',
                  :search => {:giveaway_round_id => gr.id}
                ) %></li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to_unless_current(
          'Configuration',
          :controller => 'admin/configuration', :action => 'edit'
        ) %>
      <% end %>
    </div>
    <div id="content">
    <% logger.info controller_name %>
    <% unless controller_name == 'workflow_steps' %>
      <p>
      <%= link_to(
        '&laquo; Back to dashboard', :controller => 'admin/workflow_steps'
      ) %>
      </p>
    <% end %>
    <%= @content_for_layout %>
    </div>
  </body>
</html>

